//COLORES PRINCIPALES
$main-bg: #18181b;
$dark-bg: #121212;
$white: #ffffff;

//PALETA DE COLORES DEL SITIO
$tone-50: #fdfde9;
$tone-100: #fafbc6;
$tone-200: #f7f691;
$tone-300: #f3eb51;
$primary-color: #eddb22;
$tone-500: #ddc215;
$tone-600: #bf9a0f;
$tone-700: #986f10;
$tone-800: #7e5915;
$tone-900: #6c4917;
$tone-950: #3f2609;

//FUENTES
$main-font: "Kanit", sans-serif;